:root {
  --background-color: white;
  --text-color: black;
  --link-color: cornflowerblue;
  --hover-color: rgb(181, 204, 226);
  --list-alt-color: lightgray;
  --button-background: rgb(202, 195, 195);
}
