.header-link {
  @include link-mixin();
}

.user-details-wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.user-posts-section {
  display: flex;
  flex-direction: column;
}

.posts-listing-wrapper {
  overflow-y: auto;
  min-height: 0;
  flex-shrink: 1;
  > div {
    width: 100%;
  }
}

.user-details-body {
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow-y: auto;
  &:first-of-type h3 {
    margin-top: 0;
  }
}

@media (min-width: $tablet-width) {
  .user-details-wrapper {
    overflow: hidden;
  }
  .user-info-section {
    display: flex;
    .info-container {
      width: 33%;
    }
  }
  .user-posts-section {
    flex-shrink: 1;
    min-height: 0;
  }
  .user-details-body {
    overflow: hidden;
  }
  .posts-listing-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    > div {
      max-width: 33%;
    }
  }
}
