$link-color: var(--link-color);
$hover-color: var(--hover-color);
$text-color: var(--text-color);
$background-color: var(--background-color);
$list-alt-color: var(--list-alt-color);
$button-background: var(--button-background);

$tablet-width: 780px;
$large-mobile: 500px;
